.main-container{
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-container-2{
    background-image: url('/img/bg_2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.formElement{
    background-color: rgba(255, 255, 255, 0.507);
}