@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.card-component{
    max-width: 340px;
    width: 100%;
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-radius: 40px;
}

.card-content{
    width: 100%;
    border-radius: 10px 10px 40px 40px;
}

.card-content h1{
    font-size: 22px;
    font-family: 'Abril Fatface';
    margin-bottom: 24px;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden; 
    position: relative;
  }
  
  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }